<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="com.packtpub.e4.headless.application.id2"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-headless.product"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=""/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="com.packtpub.e4.headless.application.product"/>
<stringAttribute key="productFile" value="\com.packtpub.e4.headless.application\headless.product"/>
<stringAttribute key="selected_target_plugins" value="org.eclipse.core.contenttype@default:default,org.eclipse.osgi@default:default,org.eclipse.equinox.app@default:default,org.eclipse.equinox.preferences@default:default,org.eclipse.osgi.compatibility.state@default:default,org.eclipse.equinox.registry@default:default,org.eclipse.equinox.common@default:default,javax.xml@default:default,org.eclipse.core.runtime@default:default,org.eclipse.core.jobs@default:default,"/>
<stringAttribute key="selected_workspace_plugins" value="com.packtpub.e4.headless.application@default:default,"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
